.about {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 120px auto 0 auto;
}

.about .me-image {
  max-width: 450px;
}

.about .text {
  max-width: 450px;
}

@media (min-width: 1500px) {
  .about {
    align-items: center;
  }

  .about .me-image {
    max-width: 550px;
  }
  
  .about .text {
    max-width: 550px;
  }
}

@media (max-width: 850px) {
  .about {
    padding: 16px;
    margin: 120px auto 0 auto;
    align-items: center;
  }

  .about .me-image {
    max-width: 300px;
  }
  
  .about .text {
    padding-right: 50px;
  }
}

@media (max-width: 600px) {
  .about {
    justify-content: unset;
    align-items: unset;
    flex-direction: column;
    padding: 16px;
    margin: 120px auto 0 auto;
  }

  .about .me-image {
    max-width: unset;
    margin-top: 30px;
  }

  .about .text {
    padding-right: unset;
  }
}